<%= form_for([@patient, @visit], html: {class: "form-horizontal"}) do |f| %>
    <% if @visit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

          <ul>
            <% @visit.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="control-group">
      <div class="span4">
        Visit Date:
      </div>
      <div class="span5 date-select">
        <%= f.date_select :date_visit, start_year: 1950 %>
      </div>
    </div>

    <div class="control-group">
      <div class="span4">
        Please estimate the date of your last eye exam:
      </div>
      <div class="span5 date-select">
        <%= f.date_select :length_since_last_visit, start_year: 1950 %>
      </div>
    </div>

    <div class="control-group">
      <div class="span4">
        Please list any current medications you are taking now:
      </div>
      <div class="span5 date-select">
        <%= f.text_area :current_meds %>
      </div>
    </div>

    <div class="control-group">
      <div class="span4">
        Are you allergic to any medications?
      </div>
      <div class="span5 date-select">
        <%= f.select :med_allergy, [["Yes", true], ['No', false]] %>
      </div>
    </div>
    <div class="control-group">
      <div class="span4">
        If yes, please list all medications you are allergic to:
      </div>
      <div class="span5 date-select">
        <%= f.text_area :med_allergy_list %>
      </div>
    </div>

    <div class="control-group">
      <div class="span4">
        Would you like to have your eyes dilated today to check for eye disases?
      </div>
      <div class="span5 date-select">
        <%= f.select :dilation_consent, [["Yes", true], ['No', false]] %>
      </div>
    </div>

    <div class="control-group">
      <div class="span4">
        Did you review or receive a copy of Dr Joseph Nguyen's Office Privacy Notice?
      </div>
      <div class="span5 date-select">
        <%= f.select :privacy_consent, [["Yes", true], ['No', false]] %>
      </div>
    </div>

    <fieldset>
      <legend>Answer the items in this box ONLY IF you are here for contact lens fitting</legend>

      <div class="control-group">
        <div class="span4">
          Is this your first time trying contact lenses?
        </div>
        <div class="span5 date-select">
          <%= f.select :lens_first_use, [["Yes", true], ['No', false]] %>
        </div>
      </div>

      <div class="control-group">
        <div class="span4">
          How many hours in a day do you wear your contact lenses?
        </div>
        <div class="span5 date-select">
          <%= f.text_field :lens_use_per_day, class: "input-mini" %>
        </div>
      </div>

      <div class="control-group">
        <div class="span4">
          Do you sleep in your contact lenses frequently?
        </div>
        <div class="span5 date-select">
          <%= f.select :sleep_with_lens, [["Yes", true], ['No', false]] %>
        </div>
      </div>
    </fieldset>

    <div class="actions">
      <%= f.submit "SUBMIT", class: "btn btn-primary" %>
    </div>
<% end %>
