<div class="row-fluid">
  <div class="span12">

    <%= render partial: "shared/sidebar" %>

    <div class="span9">

      <h1>Listing visits</h1>

      <table class="table">
        <thead>
        <tr>
          <th>Date visit</th>
          <th>Length since last visit</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @visits.each do |visit| %>
            <tr>
              <td><%= visit.date_visit.to_date %></td>
              <td><%= visit.length_since_last_visit %></td>
              <td><%= link_to 'Show', [@patient, visit] %></td>
              <td><%= link_to 'Edit', edit_patient_visit_path(@patient, visit) %></td>
              <td><%= link_to 'Destroy', [@patient, visit], method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Visit', new_patient_visit_path %>
    </div>
  </div>
</div>