<div class="row-fluid">
  <div class="span12">

    <%= render partial: "shared/sidebar" %>

    <div class="span4">

      <table class="table no-border">
        <tr>
          <td>Visit Date:</td>
          <td><%= @visit.date_visit.to_date %></td>
        </tr>
        <tr>
          <td>Date of last eye exam:</td>
          <td><%= @visit.length_since_last_visit.to_date %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Current Medication:</td>
          <td><%= @visit.current_meds %></td>
        </tr>
        <tr>
          <td>Medication Allergy:</td>
          <td><%= human_boolean @visit.med_allergy %></td>
        </tr>
        <tr>
          <td>Medications Allergic to:</td>
          <td><%= @visit.med_allergy_list %></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Perform Dilation:</td>
          <td><%= human_boolean @visit.dilation_consent %></td>
        </tr>
        <tr>
          <td>Reviewed Privacy Notice:</td>
          <td><%= human_boolean @visit.privacy_consent %></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>First time trying contact lenses:</td>
          <td><%= human_boolean @visit.lens_first_use %></td>
        </tr>

        <tr>
          <td>Contact lens daily hours:</td>
          <td><%= @visit.lens_use_per_day %></td>
        </tr>
        <tr>
          <td>Sleeps in contacts:</td>
          <td><%=human_boolean @visit.sleep_with_lens%></td>
        </tr>



      </table>


      <%= link_to 'Edit Info', edit_patient_visit_path(@patient, @visit) %> |
      <%= link_to 'Destroy', [@patient, @visit], method: :delete, data: {confirm: 'Are you sure?'} %> |
      <% if @visit.reasons.blank? %>
          <%= link_to 'Next', patient_visit_patient_visit_reasons_path(@patient, @visit) %>
      <% else %>
          <%= link_to 'Reasons', patient_visit_patient_visit_reasons_path(@patient, @visit) %>  |
          <%= link_to 'Exams', exams_patient_visit_path(@patient, @visit) %>
      <% end %>
    </div>
  </div>
</div>