<div class="row-fluid">
  <div class="span12">

    <%= render partial: "shared/sidebar" %>

    <div class="span9">

      <p>
        <strong>Date visit:</strong>
        <%= @visit.date_visit.to_date %>
      </p>

      <p>
        <strong>Length since last visit:</strong>
        <%= @visit.length_since_last_visit %>
      </p>

      <p>
        <strong>Lens use per day:</strong>
        <%= @visit.lens_use_per_day %>
      </p>

      <p>
        <strong>Lens first use:</strong>
        <%= human_boolean @visit.lens_first_use %>
      </p>

      <p>
        <strong>Dilation consent:</strong>
        <%= human_boolean @visit.dilation_consent %>
      </p>

      <p>
        <strong>Privacy consent:</strong>
        <%= human_boolean @visit.privacy_consent %>
      </p>

      <p>
        <strong>Test result:</strong>
        <%= @visit.test_result %>
      </p>

      <p>
        <strong>Current meds:</strong>
        <%= @visit.current_meds %>
      </p>

      <p>
        <strong>Med allergy:</strong>
        <%= human_boolean @visit.med_allergy %>
      </p>

      <p>
        <strong>Med allergy list:</strong>
        <%= @visit.med_allergy_list %>
      </p>

      <%= link_to 'List', patient_visits_path(@patient) %>   |
      <%= link_to 'Edit', edit_patient_visit_path(@patient, @visit) %> |
      <%= link_to 'Reasons', patient_visit_patient_visit_reasons_path(@patient, @visit) %>  |
      <%= link_to 'Exams', exams_patient_visit_path(@patient, @visit) %>

    </div>
  </div>
</div>