<h1>Listing users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Title</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th>Lastname</th>
      <th>Licence num</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.title_id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.middlename %></td>
        <td><%= user.lastname %></td>
        <td><%= user.license_num %></td>
        <td><%= user.type %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
