<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Patient: <%= @patient.fullname %></li>
      <li><i class="icon icon-check"> <%= link_to "Registration", @patient %></i></li>
      <li>
        <i class="icon icon-check<%= "-empty" if @patient.patient_medical_conditions.blank? %>"> <%= link_to "Medical Conditions", patient_patient_medical_conditions_path(@patient) %></i>
      </li>
      <li>
        <i class="icon icon-check<%= "-empty" if @patient.visits.blank? %>"> <%= link_to "Visits", patient_visits_path(@patient) %></i>
      </li>
    </ul>
  </div>
  <!--/.well -->
</div>
<!--/span-->
<style type="text/css">
    a[disabled] {
        pointer-events: none;
    }
</style>
