<%= form_for(@patient, html: {class: "form-horizontal"}) do |f| %>
    <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

          <ul>
            <% @patient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p> Please enter your full name </p>
    <div class="control-group">
      <div class="span1">
        <%= f.select :salutation_id, Salutation.all.collect { |i| [i.name, i.id] }, {}, class: "input-mini" %>
      </div>
      <div class="span5">
        <%= f.text_field :firstname, class: "span5", placeholder: "Firstname" %>
        <%= f.text_field :middlename, class: "span2", placeholder: "M" %>
        <%= f.text_field :lastname, class: "span5", placeholder: "Lastname" %>
      </div>
    </div>
    <br>

    <p>Please enter your address</p>


    <div class="control-group">
      <div class="span1">
        Address 1
      </div>
      <div class="span5">
        <%= f.text_field :addr1, class: "span12" %>
      </div>
    </div>
    <div class="control-group">
      <div class="span1">
        Address 2
      </div>
      <div class="span5">
        <%= f.text_field :addr2, class: "span12" %>
      </div>
    </div>

    <div class="control-group">
      <div class="span1">
        City:
      </div>
      <div class="span1">
        <%= f.text_field :city, class: "span12" %>
      </div>
      <div class="span1">
        State:
      </div>
      <div class="span1">
        <%= f.text_field :state, class: "span12" %>
      </div>

      <div class="span1">
        Zip:
      </div>
      <div class="span1">
        <%= f.text_field :zip_code, class: "span12" %>
      </div>
    </div>

    <br>

    <div class="control-group">
      <div class="span3">
        Please select your date of birth
      </div>
      <div class="span9 date-select">
        <%= f.date_select :date_of_birth, start_year: 1900 %>
      </div>
    </div>


    <br>

    <div class="control-group">
      <div class="span1">
        Phone1:
      </div>
      <div class="span2">
        <%= f.text_field :phone1, class: "span12" %>
      </div>
      <div class="span1">
        Email1:
      </div>
      <div class="span2">
        <%= f.text_field :email1, class: "span12" %>
      </div>
    </div>
    <div class="control-group">
      <div class="span1">
        Phone2:
      </div>
      <div class="span2">
        <%= f.text_field :phone2, class: "span12" %>
      </div>
      <div class="span1">
        Email2:
      </div>
      <div class="span2">
        <%= f.text_field :email2, class: "span12" %>
      </div>
    </div>

    <div class="control-group">
      <div class="span1">
        Sex
      </div>
      <div class="span1">
        <%= f.select :sex, ["Male", "Female", "Other"], {}, class: "span11" %>
      </div>
    </div>


    <br>
    <p>Would you be interested in connecting with us through social media?</p>

    <div class="control-group">
      <div class="span3">
        <label><%= f.check_box :facebook_account %> Facebook</label>
      </div>
      <div class="span3">
        <label><%= f.check_box :twitter_account %> Twitter</label>
      </div>
    </div>
    <p style="font-style: italic;">Check the box, if your answer is Yes</p>
    <br>

    <div class="actions">
      <%= f.submit "SUBMIT", class: "btn btn-primary" %>
    </div>
    <br>
<% end %>

<style type="text/css">
    .marR10 {
        margin-right: 10px !important;
    }

    .align-left {
        text-align: left !important;
    }

    .date-select select {
        width: 99px;
    }
</style>
