<div class="row-fluid">
  <div class="span4">
    <h1>Listing patients</h1>
  </div>
  <div class="span8 well">
    <%= search_form_for @search, url: search_patients_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
        <% end %>
        <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= f.submit "Search", class: "btn" %>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Date of birth</th>
    <th>Addr</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.firstname %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= [patient.addr1, patient.addr2].join(' ') %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.zip_code %></td>
        <td><%= link_to 'Show', patient %>                     |
          <%= link_to 'Edit', edit_patient_path(patient) %> |
          <%= link_to 'Destroy', patient, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <%= paginate @patients %>
  </tfoot>
</table>

<br>

<%= link_to 'Create New Patient', new_patient_path %>
